/* @mixins */
/* fonts */
/* reset */
* {
  font-family: "Poppins", apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: -webkit-calc( 100vw / 1920 * 22.489);
  font-size: calc( 100vw / 1920 * 22.489);
  font-weight: 400;
  line-height: 1; }
  *:focus {
    outline: none !important;
    border: none !important; }
  *:before, *:after {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/* defolt classes */
.font-bold {
  font-weight: 700 !important; }

.navbar-fixed-top, .navbar-fixed-bottom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030; }

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #fff; }
  .navbar-light .navbar-nav .active > .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #006699; }

.navbar form .btn-default,
.iner .btn-default {
  color: #006699;
  background-color: #fff; }
  .navbar form .btn-default:hover,
  .iner .btn-default:hover {
    color: #fff;
    background-color: #006699; }

.navbar form .btn-default,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link,
.btn-default {
  font: 600 20px 'Poppins', sans-serif; }

.btn-default {
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
  outline: none; }

.title-branch, .title-branch span, .services-title, .services-title span, .title-news, .title-news span {
  font: 400 60px 'Poppins', sans-serif;
  color: #fff; }

.title-branch p, .services-title p, .title-news p {
  color: #000;
  font: 400 17px 'Poppins', sans-serif; }

.title, .services-title {
  color: #006699; }

i {
  color: white; }

/* iner classes */
.iner {
  background-image: url("../img/baner-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh; }
  .iner .container {
    height: 100%; }
  .iner .title {
    margin-top: 22vh; }
  .iner .title span, .iner p {
    font: 400 60px 'Poppins', sans-serif;
    color: #fff; }
  .iner .btn-default {
    margin-top: 24px; }

/* services */
.services {
  padding-top: 88px;
  padding-bottom: 192px; }
  .services .services-title, .services .services-title span {
    color: #006699; }
  .services .item-box {
    margin-top: 104px; }
    .services .item-box img {
      width: 100%;
      margin-bottom: 28px; }
    .services .item-box .title {
      margin-bottom: 16px;
      font-size: 24px; }
    .services .item-box .wraper-item p {
      margin-bottom: 28px;
      font-size: 13px; }
    .services .item-box .btn-default {
      background-color: #006699; }
      .services .item-box .btn-default:hover {
        color: #fff; }

/* branch */
.branch {
  background-color: #77e2ee;
  padding: 160px 0 88px; }
  .branch::before {
    content: '';
    background: url("../img/location-img.png") no-repeat center;
    width: 300px;
    height: 300px;
    display: block;
    position: absolute;
    top: -138px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .branch form {
    margin-top: 44px; }
    .branch form .btn-default {
      background-color: #006699;
      margin-left: 16px; }
    .branch form i {
      color: white; }

/* news */
.latest-news {
  padding: 130px 0; }
  .latest-news .title-news, .latest-news .title-news span {
    color: #006699; }
  .latest-news .wraper {
    margin-top: 84px; }
  .latest-news .wraper-img {
    border: 4px solid #ebebeb;
    padding: 12px; }
  .latest-news .wraper-item, .latest-news .btn {
    margin-top: 28px; }
  .latest-news .title {
    margin-bottom: 14px;
    font-size: 24px; }
  .latest-news .wraper-description p {
    font-size: 13px; }
  .latest-news .btn-default {
    background-color: #006699; }
    .latest-news .btn-default:hover {
      color: white; }
  .latest-news .bg-wrap, .latest-news .wraper-date {
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .latest-news .wraper-date {
    min-width: 95px;
    height: 95px;
    border: 4px solid #ebebeb;
    padding: 6px;
    margin-right: 20px; }
    .latest-news .wraper-date .bg-wrap {
      background-color: #20af91;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .latest-news .wraper-date > * {
      font-weight: 300; }
    .latest-news .wraper-date .mons, .latest-news .wraper-date .years {
      font-size: 12.5px;
      text-transform: uppercase; }
    .latest-news .wraper-date .date {
      font-size: 36px; }

/* footer */
footer .subscribe-wrap {
  background-color: #22ad8f;
  padding-top: 60px;
  padding-bottom: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  footer .subscribe-wrap .title-form {
    font-size: 32px;
    margin-bottom: 32px;
    color: white; }
    footer .subscribe-wrap .title-form p {
      font-size: 15px;
      margin-top: 16px;
      opacity: .7; }
  footer .subscribe-wrap .form-row .btn {
    margin-left: 16px;
    background-color: #006699;
    color: #fff; }
  footer .subscribe-wrap .title-list {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 14px; }
    footer .subscribe-wrap .title-list + ul li {
      color: white;
      opacity: .7; }
      footer .subscribe-wrap .title-list + ul li a {
        font-size: 14px; }
      footer .subscribe-wrap .title-list + ul li:hover {
        opacity: 1; }
        footer .subscribe-wrap .title-list + ul li:hover a {
          color: white; }

footer .contact-wrap {
  padding-top: 60px;
  padding-bottom: 62px; }

footer .title-soc {
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-right: 36px; }
  footer .title-soc + ul li:not(.tel) {
    border: 4px solid white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 62px;
    height: 62px; }
  footer .title-soc + ul li.tel a {
    font-size: 40px;
    text-align: left; }
  footer .title-soc + ul li.tel p {
    font-size: 14.8px;
    color: white;
    padding-left: 5px; }
  footer .title-soc + ul li.tel:hover a {
    color: white; }
  footer .title-soc + ul li {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 16px; }
    footer .title-soc + ul li i {
      font-size: 36px; }

footer .copyrights {
  padding-bottom: 160px;
  color: white; }
  footer .copyrights > * {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  footer .copyrights .title {
    margin-top: 42px;
    font-size: 18px;
    color: white;
    opacity: .8; }
  footer .copyrights p {
    font-size: 14px;
    opacity: .8; }

footer .contact-wrap, footer .copyrights {
  background-color: #06a994; }

/* media */
